.side_parallax {
  position: relative;
}

.picBorder {
  border: white double 4px;
  padding: 0px 0px;
  margin: 0px;
}

.herbie {
  background: url('../src/app/assets/circuit_lines/Slide1.JPG') no-repeat fixed;
  background-size: 100% 100%;
}