@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* .container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  } */
    
.navigationFont {
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  @media screen and (max-width: 768px){
    font-size: 15px;
  }
}

.projects {
  font-family: 'Orbitron', sans-serif;
  font-weight: 'bold'; 
  font-size: 80px;
  color: #FFF2CC;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @media screen and (max-width: 768px){
    font-size: 52px;
    margin-top: 10px;
  }
}

.aboutme {
  font-family: 'Orbitron', sans-serif;
  font-weight: 'bold'; 
  color: #FFF2CC;
  margin-top: '350px';
}

.contactme {
  color: #000000;
  font-family: 'Orbitron', sans-serif;
  @media screen and (max-width: 768px){
    margin-bottom: -100px;
  }
}

.h1_heading {
  font-size: 100px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 768px){
    font-size: 64px;
  }
}
.h3_heading {
  font-size: 40px;
  @media screen and (max-width: 768px){
    font-size: 17px;
    margin-top: -10px;
  }
}

hr {
  border: double 3px;
  animation-name: bar;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 5s;
  animation-duration: 3s;    
}

@keyframes bar {
  0%   { width: 0%; color: #FFF2CC;}
  25%  {background-color:greenyellow;}
  50%  {background-color:green;}
  75%  {background-color:greenyellow;}
  100% { width: 87%; background-color:#FFF2CC; }
}

.projects_paragraph {
  font-size: 20px;
  margin: 30px 130px;
  @media screen and (max-width: 768px){
    font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  }
}

.finger {
  display: flex;
  justify-content: center;
  height: 400px;
  margin-left: -135px;
  @media screen and (max-width: 768px){
    height: 200px;
    margin-left: -335px;
  }
}

.orbitronFont {
  font-family: 'Orbitron', sans-serif;
}

.contactform {
  margin-left: 130px;
  @media screen and (max-width: 768px){
    margin-left: 0px;
  }
}

.circuit1 {
  background-image: url('./app/assets/Slide1_Graphics.png');
  background-size: 5.1%;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px){
    background-size: 17.2%;
  };
}

.circuit2 {
  background-image: url('./app/assets/Slide2_Graphics.png');
  background-size: 9.2%;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px){
    background-size: 39%;
  };
}

.circuit3 {
  background-image: url('./app/assets/Slide3_Graphics.png');
  background-attachment: fixed;
  background-size: 18%;
  background-position: right; 
  background-repeat: no-repeat;
  @media screen and (max-width: 768px){
    background-size: 73%;
  };
}
/* The below css code was copied from react-spring viewpager example */
.page {
  position: absolute;
  width: 40%;
  height: 70%;
  will-change: transform;
  @media screen and (max-width: 768px){
    width: 100%;
    height: 45%;
  };
}

.page > div {
  touch-action: none;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position:  center center; */
  width: 100%;
  height: 100%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(255, 242, 204, 0.5), 0 37.5px 75px -37.5px rgba(255, 242, 204, 0.6);
  border: 15px solid black;
  border-radius: 110px;
}

.container {
  display: block;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  
}

.wrapper {
  width: 100%;
  height: 100%;
}

/* CSS classes for BoxSpread from React Spring */
.boxSpreadWrapper {
  width: 100%;
  height: 230%;
  /* background: lightblue; */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0px 10px; */
}

.boxSpreadContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  gap: 0px 20px;
  padding: 15px;
  border-radius: 155px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
}

.boxSpreadItem {
  width: 50%;
  height: 50%;
  margin-top: 10px;
  border-radius: 15px;
  will-change: transform, opacity;
}

/* CSS Styles for the Accordion in the About Me section. */
.accordion {
  width: 85%;
  background-color: #000000;
}

.accordionBody {
  background-color: #FFFBEF;
  color: #57554F;
}

.accordionButton {
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: left;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: #57554F;
  text-align: left;
  background-color: #969489;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

/* .accordionButton::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordionButton:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
  transform: var(--bs-accordion-btn-icon-transform);
} */

/* .accordionButton:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
} */

