.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* scale: 0.65; */
  }
    
.navigationFont {
  color: #FFF2CC;
  font-size: 30px;
  font-family: vivaldi;
}

.toggler {
  color: #FFF2CC;
}